@model FeriasApp.Models.Info

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Info</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name):
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            Requested days:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Requested)
        </dd>
        <dt class = "col-sm-2">
            Status / Note:
        </dt>
        <dd class = "col-sm-10">
            <p class="detailnote">
                @Html.DisplayFor(model => model.Confirmed)
            </p>
            
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Days):
        </dt>
        <dd class="col-sm-10">
            @{
                string requested = Model.Requested;
                string[] requestedArray = requested.Split(',');
                int size = requestedArray.Length - 1;
            }
            @size
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Zone):
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Zone)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-warning">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
            <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
        </svg>
        Edit
    </a>
    <a asp-action="Index" class="btn btn-danger">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-90deg-left" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M1.146 4.854a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 4H12.5A2.5 2.5 0 0 1 15 6.5v8a.5.5 0 0 1-1 0v-8A1.5 1.5 0 0 0 12.5 5H2.707l3.147 3.146a.5.5 0 1 1-.708.708l-4-4z" />
        </svg>
        Back to List
    </a>
</div>
